/*
* @Author: ameng
* @Date:   2016-04-22 09:50:34
* @Last Modified by:   ameng
* @Last Modified time: 2016-11-21 14:23:48
*/

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    font: 14px/24px "Oxygen", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    background: #f6f4f4 url("../images/headbg2.gif") no-repeat center top;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #1d1d1d;
}

a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.md {
    margin-left: 15px;
}

.cl10, .cl20 {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.cl10 {
    height: 10px;
}

.cl20 {
    height: 20px;
}

.xq {
    color: #f5091f;
}

.xq:hover {
    color: red;
    text-shadow: 1px 1px 1px #000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer, .list.lh24.f14 {
    cursor: pointer;
}

.gd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h-9999 {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    display: block;
}

.box {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 111px;
}

.header .logo {
    margin-top: 15px;
}

.header p {
    margin-top: 30px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.navBar {
    position: relative;
    z-index: 1;
    background: #4E4E4E;
    color: #fff;
    height: 35px;
    line-height: 35px;
}

.nav {
    width: 980px;
    margin: 3px auto;
    font-family: "Microsoft YaHei", SimSun, SimHei;
}

.nav a {
    color: #fff;
}

.nav h3 {
    float: left;
    font-size: 100%;
    font-weight: normal;
    font-size: 14px;
}

.nav .m {
    float: left;
    position: relative;
}

.nav .s {
    float: left;
    width: 9px;
    text-align: center;
    color: #eee;
}

.nav h3 a {
    display: block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.nav .on a {
    background: #21AEB5;
}

.nav .sub {
    display: none;
    /*默认隐藏*/
    min-width: 300px;
    position: absolute;
    left: 0;
    top: 30px;
    height: 26px;
    line-height: 26px;
    padding: 7px 0;
    background: #21AEB5;
    float: left;
    height: 35px;
}

.nav .sub li {
    float: left;
}

.nav .sub li a {
    display: block;
    padding: 0 15px;
    margin: 0 10px;
    height: 26px;
    line-height: 26px;
}

.nav .sub li a:hover {
    background: #1c8e95;
    color: #fff;
}

.banner {
    height: 230px;
    clear: both;
}

.main-index {
    padding: 20px 10px;
    width: 1000px;
    background: #ffffff url('../images/cntBg.jpg') repeat-x;
}

.toutiao {
    width: 600px;
}


/*页脚*/

.footer {
    background: #2f2e2e;
    height: 100px;
    padding: 20px;
    color: #f7f9fb;
    margin-top: 30px;
}

.footer a {
    color: #f7f9fb;
}
