/*
* @Author: ameng
* @Date:   2016-04-22 09:50:34
* @Last Modified by:   ameng
* @Last Modified time: 2016-11-21 14:23:48
*/

@-webkit-viewport
{
    width: device-width;
}

@-moz-viewport
{
    width: device-width;
}

@-ms-viewport
{
    width: device-width;
}

@-o-viewport
{
    width: device-width;
}

@viewport
{
    width: device-width;
}

body
{
    font: 12px/24px 'Oxygen', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', SimSun, sans-serif;

    background: #f6f4f4 url('../images/headbg2.gif') no-repeat center top;
}

ul,
li
{
    margin: 0;
    padding: 0;

    list-style: none;
}
a
{
    color: #1d1d1d;
}

a:hover
{
    text-decoration: none;

    color: red;
    text-shadow: 1px 1px 1px #555;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.md
{
    margin-left: 15px;
}

.cl10,
.cl20
{
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    content: ' ';
}

.cl10
{
    height: 10px;
}

.cl20
{
    height: 20px;
}

.xq
{
    color: #f5091f;
}

.xq:hover
{
    color: red;
    text-shadow: 1px 1px 1px #000;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
li,
.pointer,
.list.lh24.f14
{
    cursor: pointer;
}

.gd
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.h-9999
{
    display: block;

    width: 100%;
    height: 100%;

    text-indent: -9999px;
}

.box
{
    width: 1000px;
    margin: 0 auto;
}

.header
{
    height: 111px;
}

.header .logo
{
    margin-top: 15px;
}

.header p
{
    margin-top: 30px;
}

.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

.navBar
{
    line-height: 35px;

    position: relative;
    z-index: 1;

    height: 35px;

    color: #fff;
    background: #4e4e4e;
}

.nav
{
    font-family: 'Microsoft YaHei', SimSun, SimHei;

    width: 980px;
    margin: 3px auto;
}

.nav a
{
    color: #fff;
}

.nav h3
{
    font-size: 100%;
    font-weight: normal;

    float: left;
}

.nav .m
{
    position: relative;

    float: left;
}

.nav .s
{
    float: left;

    width: 9px;

    text-align: center;

    color: #eee;
}

.nav h3 a
{
    line-height: 35px;

    display: block;

    height: 35px;
    padding: 0 20px;
}

.nav .on a
{
    background: #21aeb5;
}

.nav .sub
{
    line-height: 26px;

    position: absolute;
    top: 30px;
    left: 0;

    display: none;
    float: left;
    /*默认隐藏*/

    min-width: 300px;
    height: 26px;
    height: 35px;
    padding: 7px 0;

    background: #21aeb5;
}

.nav .sub li
{
    float: left;
}

.nav .sub li a
{
    line-height: 26px;

    display: block;

    height: 26px;
    margin: 0 10px;
    padding: 0 15px;
}

.nav .sub li a:hover
{
    color: #fff;
    background: #1c8e95;
}

.banner
{
    clear: both;

    height: 230px;
}

.main-index
{
    width: 1000px;
    padding: 20px;

    background: #fff url('../images/cntBg.jpg') repeat-x;
}

.toutiao
{
    width: 670px;
}
.toutiao h4
{
    font-size: 14px;
    font-weight: bold;

    margin: 10px 0 15px 0;
}
.toutiao p
{
    line-height: 1.5em;
}
.toutiao span
{
    margin-right: 15px;

    color: #a45406;
}
.qiyewenhua
{
    width: 265px;
    height: 165px;
}
.title-index
{
    width: inherit;
    height: 25px;

    background: url('../images/title.jpg') 0 0 no-repeat;
}
.title-index h4
{
    font-size: 12px;
    line-height: 24px;

    text-indent: 2em;
}
.title-index h4 a
{
    color: #efefef;
}
.more
{
    font-family: sans-serif;
    font-size: 10px;

    margin-right: 10px;

    color: #aaa;
}
.title-index a:hover,
.more:hover
{
    text-decoration: none;

    color: red;
    text-shadow: 1px 1px 1px #000;
}
.qiyejingshen
{
    width: inherit;
    height: 85px;
    padding: 20px;

    background: url(../images/qiyejingshen.jpg) no-repeat right bottom;
}

.qiyewenhua .anniu
{
    line-height: 29px;

    display: block;

    width: 130px;
    height: 29px;
    margin: 2px 0;

    text-indent: 3.1em;

    background: url(../images/anniu.gif) no-repeat;
}

/* Tab切换 */
.slideTxtBox
{
    float: right;  overflow: hidden;  width: 680px; height: 240px; padding: 0;
}
.slideTxtBox .hd
{
    line-height: 28px;

    height: 28px;

    background: #fff url(../images/tp02_01.gif) 0 0 no-repeat;
}
.slideTxtBox .hd ul
{
    overflow: hidden; zoom: 1;

    padding: 0 5px;
}
.slideTxtBox .hd ul li
{
    line-height: 24px;

    float: left;

    width: 80px;
    height: 24px;
    margin-top: 4px;
}
.slideTxtBox .hd ul li a
{
    display: block; padding: 0 15px;
}
.slideTxtBox .hd ul li a:hover
{
    text-decoration: none;
}
.slideTxtBox .hd ul li.on a
{
    font-weight: bold;

    color: #334a67;
    background: #fff url(../images/topbg.gif) no-repeat 0 0;
}
.slideTxtBox .bd
{
    padding: 10px;
}
.slideTxtBox .bd li
{
    line-height: 28px;

    height: 28px;

    background: url(../images/line.gif) repeat-x 0 14px;
}
.slideTxtBox .bd li:hover a,
.slideTxtBox .bd li:hover .date
{
    color: red;
}
.slideTxtBox .bd li a
{
    padding: 0 7px;

    text-indent: .5em;

    background: #fff url(../images/ico6.gif) no-repeat 0 center;
}
.slideTxtBox .bd li .time
{
    background: #fff;
}

.slideTxtBox .bd li .time
{
    float: right;

    padding-left: 7px;

    color: #ad651e;
}

/*专题活动*/
.zhuanti
{
    width: 265px;
}
.zhuanti-con
{
    width: inherit;
}
.zhuanti-con a
{
    display: block;

    margin-top: 10px;
}
/*页脚*/

.footer
{
    height: 100px;
    margin-top: 30px;
    padding: 20px;

    color: #f7f9fb;
    background: #2f2e2e;
}

.footer a
{
    color: #efefef;
    background: #2f2e2e;
}
